	<footer class="bg-grey <% if ! current_page?("/") %>ml-t"<% end %>">
		<div class="container">
			<div class="row ml-d">
				<div class="col-lg-8 col-md-8">
					<h4>Developed by: <a href="http://carlofontanos.com" target="_blank" class="text-info m-r">Carl Victor C. Fontanos</a></h4>
					<div class="personal-sm"><a href="http://carlofontanos.com/about-me" class="m-r"><i title="" class="fa fa-home text-success"> </i></a><a href="https://www.facebook.com/carlo.fontanos" target="_blank" title="Facebook" class="m-r"><i class="fa fa-facebook text-primary"> </i></a><a href="https://twitter.com/carlofontanos" target="_blank" title="Twitter" class="m-r"><i class="fa fa-twitter text-warning"> </i></a><a href="https://plus.google.com/u/0/107219338853998242780/about" target="_blank" title="GooglePlus" class="m-r"><i class="fa fa-google-plus text-danger"> </i></a><a href="https://ph.linkedin.com/in/carlfontanos" target="_blank" title="Linkedin" class="m-r"><i class="fa fa-linkedin text-success"></i></a><a href="https://github.com/carlo-fontanos" target="_blank" title="Github" class="m-r"><i class="fa fa-github text-primary"> </i></a><a href="mailto:carl.fontanos@gmail.com" title="Contact Me"><i class="fa fa-envelope-o text-warning"> </i></a></div>
				</div>
				<div class="col-lg-4 col-md-4 text-right">
					<p class="m-t">Copyright &copy; <a href="http://carlofontanos.com" target="_blank" class="text-info">www.carlofontanos.com</a></p>
					<p>All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" %>
	<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js" %>
	<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" %>
	<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js" %>
	<%= javascript_include_tag "//cdn.ckeditor.com/4.5.10/standard/ckeditor.js" %>
	<%= javascript_include_tag "application" %>
</body>
</html>